.homemain{
  background-color: #f9f9f9;
  padding-top: 80px;
  box-sizing: border-box;
  .mb(60);
  .list{
    height: auto;
    border-top: 1px solid #ccc;
    position: relative;
    padding: 20px;
    .pt(0);
    box-sizing: border-box;
    .smallTitle{
      display: block;
      .fs(13);
      .w(80);
      .lh(26);
      color: #ffffff;
      background-color: #c6c6c6;
      text-align: center;
      border-radius: 0 0 5px 5px;
    }
    .listtitle{
      .fs(24);
      .mt(15);
      .mb(10);
      font-weight: 500;
    }
    .post1{
      overflow: hidden;
      width: 100%;
      p{
        width: 55%;
        .fs(15);
        .lh(24);
        color: #9c9c9c;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
      }
      span{
        width: 43%;
        .h(130);
        float: right;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
      }
    }
    .post2{
      //.w(330);
      width: 100%;
      .h(210);
      position: relative;
      .post2-img{
        //.w(320);
        width: 95%;
        .h(200);
        position: absolute;
        .bottom(0);
        .left(0);
        z-index: 100;
        overflow: hidden;
        img{
          //.w(320);
          width: 100%;
          position: absolute;
          .left(0);
        }
      }
      .border1{
        //.w(320);
        width: 95%;
        .h(200);
        border: 1px solid #ccc;
        box-sizing: border-box;
        position: absolute;
        .bottom(5);
        .left(5);
        z-index:10;
        background-color: transparent;
      }
      .border2{
        //.w(320);
        width: 95%;
        .h(200);
        border: 1px solid #ccc;
        box-sizing: border-box;
        position: absolute;
        .bottom(10);
        .left(10);
        z-index: 8;
        background-color: transparent;
      }
    }
    .post3{
      p{
        .fs(15);
        .lh(24);
        color: #9c9c9c;
      }
    }
  }
}