//loading这个类的目的是,加载时添加,使页面隐藏到屏幕右侧,加载完成时取消类,使其有入场动画
.loading{
  -webkit-transform: translate(100%,0);
  -moz-transform: translate(100%,0);
  -ms-transform: translate(100%,0);
  -o-transform: translate(100%,0);
  transform: translate(100%,0);
}
/*.home-loading{
  .mt(50);
  width: 100%;
  text-align: center;
  img{
    width: 70%;
  }
}*/

.home-loading{
  .w(90);
  .h(90);
  position: absolute;
  top: 50%;
  left: 50%;
  .mt(-30);
  .ml(-45);
  .double-bounce1, .double-bounce2{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #13ae8f;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    -moz-animation: bounce 2.0s infinite ease-in-out;
    -ms-animation: bounce 2.0s infinite ease-in-out;
    -o-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
  }
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    -moz-animation-delay: -1.0s;
    -ms-animation-delay: -1.0s;
    -o-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  @-webkit-keyframes bounce {
    0%, 100% {
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
    }
    50% {
       -webkit-transform: scale(1);
       -moz-transform: scale(1);
       -ms-transform: scale(1);
       -o-transform: scale(1);
       transform: scale(1);
      }
  }
}

.homemain{
  transition: all 0.5s;
  background-color: #f8f8f8;
  .pt(60);
  box-sizing: border-box;
  .list{
    height: auto;
    border-top: solid #ccc;
    .borderwidth(1);
    position: relative;
    .p(20);
    .pt(0);
    box-sizing: border-box;
    .smallTitle{
      display: block;
      .fs(13);
      .w(80);
      .lh(26);
      color: #ffffff;
      background-color: #b6b6b6;
      text-align: center;
      .borderradius(0,0,5,5);
    }
    .listtitle{
      .fs(26);
      .mt(15);
      .mb(20);
      font-weight: 600;
    }
    .post1{
      overflow: hidden;
      width: 100%;
      p{
        width: 55%;
        .fs(15);
        .lh(24);
        color: #5f5f5f;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
      }
      span{
        width: 43%;
        .h(130);
        float: right;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
      }
    }
    .post2{
      width: 100%;
      .h(210);
      position: relative;
      .post2-img{
        width: 95%;
        .h(200);
        position: absolute;
        .bottom(0);
        .left(0);
        z-index: 100;
        overflow: hidden;
        img{
          width: 100%;
          position: absolute;
          .left(0);
        }
      }
      .border1{
        //.w(320);
        width: 95%;
        .h(200);
        border:solid #ccc;
        .borderwidth(1);
        box-sizing: border-box;
        position: absolute;
        .bottom(5);
        .left(5);
        z-index:10;
        background-color: transparent;
      }
      .border2{
        width: 95%;
        .h(200);
        border: solid #ccc;
        .borderwidth(1);
        box-sizing: border-box;
        position: absolute;
        .bottom(10);
        .left(10);
        z-index: 8;
        background-color: transparent;
      }
    }
    .post3{
      p{
        .fs(15);
        .lh(24);
        color: #5f5f5f;
      }
    }
  }
}
.authordetailstyle{
  .author-top{
    .p(20);
    text-align: center;
    img{
      .w(48);
      border-radius: 50%;
    }
    h2{
      .fs(24);
      color: #000;
    }
    p{
      color: #a2a2a2;
      .pt(5);
      .fs(14);
    }
    a{
      color: #12d5b5;
      display: inline-block;
      .pt(5);
      .pb(5);
      .pl(10);
      .pr(10);
      border: solid #12d5b5;
      .borderwidth(1);
      .mt(20);
      .mb(5);
      .borderradius(5,5,5,5);
    }
  }
  .list{
    .listtitle{
      .fs(20);
      .mt(5);
      font-weight: 500;
      .mb(5)!important;
    }
    .post1{
      p{
        .fs(14)!important;
        width: 76%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      span{
        width: 22%;
        .h(70);
      }
    }
    .post3{
      p{
        .fs(14)!important;
        color: #9c9c9c;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }


  }
}