.nav{
  .h(64);
  background-color: #12d5b5;
  text-align: center;
  color: #fff;
  .top(0);
  .left(0);
  .right(0);
  position: fixed;
  z-index: 999;
  i{
    font-style: normal;
    float: left;
    .ml(5);
  }
  span{
    font-family: '宋体';
    .fs(26);
    .ml(-10);
  }
}