.nav{
  width:100%;
  .lh(50);
  background-color: #12d5b5;
  text-align: center;
  color: #fff;
  .top(0);
  .left(0);
  position: fixed;
  z-index: 999;
  img{
    .w(30);
    .h(30);
    padding: 8px;
    position: absolute;
    .top(8);
    .left(0);
  }
  span{
    width: 100%;
    font-family: '微软雅黑';
    .fs(20);
    .mb(10);
  }
}