.tabbar{
  .lh(30);
  background-color: #fff;
  .left(0);
  .right(0);
  .bottom(0);
  position: fixed;
  border-top: 1px solid #ccc;
  ul{
    display: flex;
    list-style: none;
    li{
      flex:1;
      text-align: center;
      img{
        .w(22);
        .h(22);
      }
      span{
        .fs(16);
        display: block;
      }
    }
  }
}

