#tabbar{
  transition:all 1s;
  display: inline-block;
  height: 100%;
  width: 60%;
  background-color: #f2f2f2;
  left: -60%;
  .top(0);
  .p(15);
  position: fixed;
  z-index: 99999;
  border-right: solid #e0e0e0;
  .borderwidth(1);
  box-sizing: border-box;
  box-shadow: -1px -5px 20px #c1c1c1 inset;
  ul{
    width: 100%;
    list-style: none;
    li:first-of-type{
      .h(32);
      .pt(20);
      .pb(20);
      img{
        .w(32);
        .h(32);
      }
      span{
        color: #a3a3a3;
        .fs(14);
        .pl(10);
        .lh(32);
      }
    }
    li{
      width: 100%;
      .h(25);
      .pt(15);
      .pb(15);
      //background-color: lightblue;
      img{
        display: inline-block;
        .w(25);
        .h(25);
        vertical-align: top;
      }
      span{
        .fs(18);
        .pl(15);

      }
    }
  }
}

