.tabbar{
  .lh(30);
  background-color: #fff;
  .left(0);
  .right(0);
  .bottom(0);
  position: fixed;
  border-top: solid #ccc;
  .borderwidth(1);
  ul{
    width: 100%;
    list-style: none;
    li{
      width: 25%;
      float: left;
      text-align: center;
      img{
        .w(22);
        .h(22);
        vertical-align: middle;
        .mt(5);
      }
      span{
        .fs(16);
        display: block;

      }
    }
  }
}

