
<div class="author-list">
    <div class="author-list-top">
        <h2>热门作者</h2>
    </div>
    <ul>
        <li ng-repeat="(key,list) in authrolist"
            ui-sref="app.authordetail"
            ng-click="authortitle(list)">
            <img lazy-img="{{list.avatar}}" >
            <dl>
                <dt ng-bind="list.name"></dt>
                <dd ng-bind="list.editor_notes"></dd>
            </dl>
        </li>
    </ul>
    <p ng-if="noMore">暂时没有更多热门作者哦～</p>
    <div class="home-loading data-loading"
         ng-show="isLoading">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>