<div id="columns" class="helpTarget">
    <div class="home-loading" ng-show="isLoading" >
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
    <ul>
        <li class="columnList"
            ng-repeat="(key,column) in columns"
            ng-class="{noRightBorder:(key%2 == 1)}"
            ng-touchstart="toColumnDetail(column)"
            ui-sref="app.columndetail">
            <img lazy-img="{{column.icon}}" >
            <h3 ng-bind="column.name"></h3>
            <p ng-bind="column.description"></p>
        </li>
    </ul>
</div>