<div class="tabbar">
    <ul>
        <li ng-click="click('今日一刻')"><img src="images/tabIcon/home_icon.png" alt=""><span ng-class="{cur:title == '今日一刻'}">首页</span></li>
        <li ng-click="click('作者')"><img src="images/tabIcon/author_icon.png" alt=""><span ng-class="{cur:title == '作者'}">作者</span></li>
        <li ng-click="click('栏目')"><img src="images/tabIcon/content_icon.png" alt=""><span ng-class="{cur:title == '栏目'}">栏目</span></li>
        <li ng-click="click('我的')"><img src="images/tabIcon/my_icon.png" alt=""><span ng-class="{cur:title == '我的'}">我的</span></li>
    </ul>
</div>