<div class="tabbar">
    <ul>
        <li><img src="images/tabicon/home_icon.png" alt=""><span>登录</span></li>
        <li ng-click="click('今日一刻')"><img src="images/tabicon/home_icon.png" alt=""><span ng-class="{cur:title == '今日一刻'}">今日一刻</span></li>
        <li ng-click="click('往期内容')"><img src="images/tabicon/home_icon.png" alt=""><span ng-class="{cur:title == '往期内容'}">往期内容</span></li>
        <li ng-click="click('热门作者')"><img src="images/tabicon/author_icon.png" alt=""><span ng-class="{cur:title == '热门作者'}">热门作者</span></li>
        <li ng-click="click('栏目浏览')"><img src="images/tabicon/content_icon.png" alt=""><span ng-class="{cur:title == '栏目浏览'}">栏目浏览</span></li>
        <li ng-click="click('我喜欢的')"><img src="images/tabicon/my_icon.png" alt=""><span ng-class="{cur:title == '我喜欢的'}">我喜欢的</span></li>
    </ul>
</div>